<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ "EDIT_QUESTION" | translate }}</h4>
    <button type="button" class="close" ng-click="vm.close()">&times;</button>
  </div>
  <div class="modal-body">
    <form name="form">
      <div class="modal-body form-horizontal">
        <div class="row">
          <div class="col form-group">
            <label class="control-label col">{{ "QUESTION_NAME" | translate }}: (EN)</label>
            <div class="col">
              <input type="text" class="form-control" ng-model="vm.question.statementEn" placeholder="{{ 'QUESTION_NAME' | translate }}" name="name" required>
            </div>
          </div>
          <div class="col form-group">
            <label class="control-label col">{{ "QUESTION_NAME" | translate }}: (ES)</label>
            <div class="col">
              <input type="text" class="form-control" ng-model="vm.question.statementEs" placeholder="{{ 'QUESTION_NAME' | translate }}" name="name" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            <div class="col">
              <label>
                <input class="mr-3" type="radio" name="{{ 'QUESTION_TYPE_OPEN' | translate }}" ng-model="vm.question.type" value="{{ vm.questionTypes[0].name }}">{{ "QUESTION_TYPE_OPEN" | translate }}</input>
              </label>
            </div>
          </div>
          <div class="col form-group">
            <div class="col">
              <label>
                <input class="mr-3" type="radio" name="{{ 'QUESTION_TYPE_OPEN' | translate }}" ng-model="vm.question.type" value="{{ vm.questionTypes[1].name }}">{{ "QUESTION_TYPE_CLOSED" | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-disabled="form.$error.required" ng-click="vm.updateQuestion()">{{ "EDIT_QUESTION" | translate }}</button>
        <button type="button" class="btn btn-default" ng-click="vm.close()">{{ "CLOSE_BUTTON" | translate }}</button>
      </div>
    </form>
  </div>  
</div>
