<div>
  <admin-menu></admin-menu>
  <h2>Categor&iacute;as y Subategor&iacute;as <small>Administration</small></h2>
  <button class="btn btn-blue btn-outline btn-rounded" ng-click="vm.createTopic()">Create topic</button>
  <div class="jumbotron">
    <div class="container">
      <div id="accordion" class="accordion">
        <div class="card m-b-0" ng-repeat="topic in vm.topics">
          <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
            <a class="card-title">{{topic.name}}</a><i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
          </div>
          <div id="collapse{{$index}}" class="card-block collapse">
            <div class="row participant" ng-repeat="participant in topic.participants">
              <div class="col-5">{{participant.name}}</div>
              <div class="col-3" ng-class="vm.completedEvaluation(participant)">{{participant.status | uppercase}}</div>
              <div class="col-4 text-right" ng-if="participant.status == 'completada'"><a href="">Resultado</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
