@brand-primary: #428bca;
@survey-color: #428bca;
@topic-color: #8CA8D8;
@subtopic-survey: #17A0DB;

#admin-survey, .modal-body {
  .card {
    margin-bottom: 5px !important;
  }

  .accordion>.card>.row>.col>.card-header {
    background-image: none !important;
    border-color: transparent !important;
    border-radius: 0 !important;
    color: white !important;
  }

  .card, .card-header {
    border: none !important;
  }

  .survey-header {
    background-color: @survey-color !important;
  }

  .topic-header {
    background-color: @topic-color !important;
    color: white !important;
    border-radius: 0 !important;
  }

  .subtopic-header {
    background-color: @subtopic-survey !important;
  }

  .fa-pencil:before {
    vertical-align: -40% !important;
  }
  .fa-trash:before{
    vertical-align: -40% !important;
  }

  .btn-edit-survey {
    background-color: darken(@survey-color, 5%) !important;

    &:hover, &:active {
      background-color: darken(@survey-color, 15%) !important;
    }
    width: 5%;
  }

  .btn-edit-topic {
    background-color: darken(@topic-color, 5%) !important;

    &:hover, &:active {
      background-color: darken(@topic-color, 15%) !important;
    }
  }

  .btn-edit-subtopic {
    background-color: darken(@subtopic-survey, 5%) !important;

    &:hover, &:active {
      background-color: darken(@subtopic-survey, 15%) !important;
    }
  }
}

