<div>
  <admin-menu></admin-menu>
  <h2>{{ "SURVEY_HEADER" | translate }}</h2>
  <div class="jumbotron">
    <div class="container" id="admin-survey">
      <button class="btn btn-blue btn-outline btn-add py-3 mb-1" ng-click="vm.createSurvey()">{{ "ADD_SURVEY" | translate }}</button>
      <div id="accordion" class="accordion">
        <div class="card" ng-repeat="(survey_index, survey) in vm.surveys">
          <div class="row px-3">
            <div class="col p-0">
              <div class="card-header collapsed survey-header" data-toggle="collapse" data-parent="#accordion" href="#collapse{{survey_index}}" ng-model="clicked" ng-click="clicked = !clicked">
                <a class="card-title" ng-if="vm.currentLanguage('es')">{{survey.nameEs}}</a>
                <a class="card-title" ng-if="vm.currentLanguage('en')">{{survey.nameEn}}</a>
                <i class="fa pull-right" aria-hidden="true" ng-class="{ 'fa-chevron-down': !clicked, 'fa-chevron-up': clicked }"></i>
              </div>
            </div>
            <div class="btn btn-edit btn-edit-survey  fa fa-pencil" ng-click="vm.updateSurvey(survey)"></div>
            <div class="btn btn-edit btn-edit-survey  fa fa-trash " ng-click="vm.deleteSurvey(survey,vm.surveys)"></div>
          </div>
          <div id="collapse{{survey_index}}" class="card-block collapse px-2 py-1">
            <button class="btn btn-blue btn-outline btn-add py-3 mb-1" ng-click="vm.addTopic(survey)">{{ "ADD_TOPIC" | translate }}</button>

            <div id="accordion{{survey_index}}" class="card" ng-repeat="(topic_index, topic) in survey.topics">
              <div class="row px-3">
                <div class="col p-0">
                  <div class="card-header collapsed topic-header" data-toggle="collapse" data-parent="#accordion{{survey_index}}" href="#collapse{{survey_index}}-{{topic_index}}" ng-model="clicked1" ng-click="clicked1 = !clicked1">
                    <a class="card-title" ng-if="vm.currentLanguage('es')">{{topic.nameES}}</a>
                    <a class="card-title" ng-if="vm.currentLanguage('en')">{{topic.nameEN}}</a>
                    <i class="fa pull-right" aria-hidden="true" ng-class="{ 'fa-chevron-down': !clicked1, 'fa-chevron-up': clicked1 }"></i>
                  </div>
                </div>
                <div class="col-1 btn btn-edit btn-edit-topic fa fa-pencil" ng-click="vm.updateTopic(topic, survey)"></div>
              </div>

              <div id="collapse{{survey_index}}-{{topic_index}}" class="card-block collapse px-2 py-1">
                <button class="btn btn-blue btn-outline btn-add py-3 mb-1" ng-click="vm.addSubtopic(topic)">{{ "ADD_SUBTOPIC" | translate }}</button>
                <div id="accordion{{survey_index}}-{{topic_index}}" class="accordion">
                  <div class="card" ng-repeat="(subtopic_index, subtopic) in topic.subtopics">
                    <div class="row px-3">
                      <div class="col p-0">
                        <div class="card-header collapsed subtopic-header" data-toggle="collapse" data-parent="#accordion{{survey_index}}-{{topic_index}}" href="#collapse{{survey_index}}-{{topic_index}}-{{subtopic_index}}" ng-model="clicked2" ng-click="clicked2 = !clicked2">
                          <a class="card-title" ng-if="vm.currentLanguage('es')">{{subtopic.nameEs}}</a>
                          <a class="card-title" ng-if="vm.currentLanguage('en')">{{subtopic.nameEn}}</a>
                          <i class="fa pull-right" aria-hidden="true" ng-class="{ 'fa-chevron-down': !clicked2, 'fa-chevron-up': clicked2 }"></i>
                        </div>
                      </div>
                      <div class="col-1 btn btn-edit btn-edit-subtopic fa fa-pencil" ng-click="vm.updateSubtopic(subtopic, topic)"></div>
                    </div>
                    <div id="collapse{{survey_index}}-{{topic_index}}-{{subtopic_index}}" class="card-block collapse px-2 py-1">
                    <button class="btn btn-blue btn-outline btn-add py-3 mb-1" ng-click="vm.addQuestion(subtopic, vm.questionTypes)">{{ "ADD_QUESTION" | translate }}</button>
                      <div ng-repeat="question in subtopic.questions">
                        <div class="row align-items-center p-1" ng-if="vm.currentLanguage('es')">
                          <div class="ml-3 col p-0">{{question.statementEs}}</div>
                          <div class="col-4 p-0" ng-if="!vm.isQuestionOpen(question.type)">{{ "QUESTION_TYPE_CLOSED" | translate }}</div>
                          <div class="col-4 p-0" ng-if="vm.isQuestionOpen(question.type)">{{ "QUESTION_TYPE_OPEN" | translate }}</div>
                          <div class="mr-3 col-1 btn btn-edit btn-edit-survey fa fa-pencil-square-o" ng-click="vm.updateQuestion(question, subtopic, vm.questionTypes)""></div>
                        </div>
                        <div class="row align-items-center p-1" ng-if="vm.currentLanguage('en')">
                          <div class="ml-3 col p-0">{{question.statementEn}}</div>
                          <div class="col-4 p-0" ng-if="!vm.isQuestionOpen(question.type)">{{ "QUESTION_TYPE_CLOSED" | translate }}</div>
                          <div class="col-4 p-0" ng-if="vm.isQuestionOpen(question.type)">{{ "QUESTION_TYPE_OPEN" | translate }}</div>
                          <div class="mr-3 col-1 btn btn-edit btn-edit-survey fa fa-pencil-square-o" ng-click="vm.updateQuestion(question, subtopic, vm.questionTypes)""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

