<div class="col-2 sidebar text-center align-self-center">
  <div class="mb-5">
    <img src="app/images/fifco3.png" class="user-avatar">
    <br>
    <p>{{vm.user.name}}</p>
    <a ng-click="vm.logout()" class="btn btn-white btn-rounded btn-primary px-5">{{ "LOGOUT_BUTTON" | translate }}</a>
  </div>

  <div class="list-group">
    <a ui-sref="home.dashboard" ng-class="{active: vm.isActive('home.dashboard')}" class="list-group-item list-group-item-action">
      <img src="app/images/gauge-icon-white.png">
      <p>{{ "DASHBOARD" | translate }}</p>
    </a>

    <a ui-sref="home.adminEvaluation" ng-class="{active: !vm.isActive('home.dashboard')}" class="list-group-item list-group-item-action" ng-if="vm.isAdmin()">
      <img src="app/images/admin-icon-white.png">
      <p>{{ "ADMIN" | translate }}</p>
    </a>

    <div  class="cursor: pointer">
      <span ng-click="vm.resetPassword()">{{ "CHANGE_PASSWORD" | translate }}</span>
    </div>
    <button ng-if="!vm.user.office365Email" ng-hide="true" ng-click="vm.office365login()" class="list-group-item list-group-item-action">Office365</button>
    <div class="row">
      <div class="col-6"><a ng-click="vm.setLanguage('es')" class="list-group-item list-group-item-action" ng-class="{active: vm.isLanguage('es')}">ES</a></div>
      <div class="col-6"><a ng-click="vm.setLanguage('en')" class="list-group-item list-group-item-action" ng-class="{active: vm.isLanguage('en')}">EN</a>
      </div>
      <div class="col"><p><small>Powered by</small><br/>&#xA9;Pernix-Solutions</p></div>
    </div>
  </div>

</div>
