<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" ng-if="vm.currentLanguage('es')">{{vm.survey.nameEs}}</h4>
    <h4 class="modal-title" ng-if="vm.currentLanguage('en')">{{vm.survey.nameEn}}</h4>
    <button type="button" class="btn btn-primary" ng-disabled="form.$error.required" ng-click="vm.updateSurvey(vm.survey)">{{ "EDIT_SURVEY" | translate }}</button>
  </div>
  <div class="modal-body">
    <div id="accordion" class="accordion">
      <button class="btn btn-blue btn-outline btn-add py-3 mb-1" ng-click="vm.addTopic(vm.survey)">{{ "ADD_TOPIC" | translate }}</button>
      <div class="card m-b-0" ng-repeat="(topic_index, topic) in survey.topics">
        <div class="card-header collapsed survey-header" data-toggle="collapse" data-parent="#accordion" href="#collapse{{topic_index}}" ng-model="clicked" ng-click="clicked = !clicked">
          <a class="btn btn-primary fa fa-pencil mr-3" ng-click="vm.updateTopic(topic)"></a>
          <a class="card-title" ng-if="vm.currentLanguage('es')">{{topic.nameES}}</a>
          <a class="card-title" ng-if="vm.currentLanguage('en')">{{topic.nameEN}}</a>
          <i class="fa pull-right" aria-hidden="true"
            ng-class="{ 'fa-chevron-down': !clicked, 'fa-chevron-up': clicked }"></i>
        </div>        
        <div id="collapse{{topic_index}}" class="card-block collapse px-2 py-1">
          <button class="btn btn-blue btn-outline btn-add py-3 mb-1" ng-click="vm.addSubtopic(topic)">{{ "ADD_SUBTOPIC" | translate }}</button>
          <div id="accordion{{topic_index}}" class="accordion">
            <div class="card m-b-0" ng-repeat="(subtopic_index, subtopic) in topic.subtopics">
              <div class="card-header collapsed topic-header" data-toggle="collapse" data-parent="#accordion{{topic_index}}" href="#collapse{{topic_index}}-{{subtopic_index}}" ng-model="clicked2" ng-click="clicked2 = !clicked2">
                <a class="card-title" ng-if="vm.currentLanguage('es')">{{subtopic.nameEs}}</a>
                <a class="card-title" ng-if="vm.currentLanguage('en')">{{subtopic.nameEn}}</a>
                <i class="fa pull-right" aria-hidden="true"
                  ng-class="{ 'fa-chevron-down': !clicked2, 'fa-chevron-up': clicked2 }"></i>
              </div>
              <div id="collapse{{topic_index}}-{{subtopic_index}}" class="card-block collapse px-2 py-1">
              <button class="btn btn-blue btn-outline btn-add py-3 mb-1" ng-click="vm.addQuestion(subtopic, vm.questionTypes)">{{ "ADD_QUESTION" | translate }}</button>
                <div class="row p-1" ng-repeat="question in subtopic.questions">
                  <div class="col" ng-if="vm.currentLanguage('es')">{{question.statementEs}}</div>
                  <div class="col" ng-if="vm.currentLanguage('en')">{{question.statementEn}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.close()">Close</button>
  </div>
</div>
