<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ "WARNING" | translate }}</h4>
    <button type="button" class="close" ng-click="vm.closeModal()">&times;</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <p class="text-justify">{{ "WARNING_TEXT" | translate }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="vm.finishEvaluation(vm.evaluation)">{{ "FINISH_EVALUATION" | translate }}</button>
      <button type="button" class="btn btn-default" ng-click="vm.closeModal()">{{ "CANCEL" | translate }}</button>
    </div>
  </div>
</div>
