<div>
  <h2 ng-if="vm.currentLanguage()==='es'"><small>{{ vm.evaluation.stage.nameEs}}</small></h2>
  <h2 ng-if="vm.currentLanguage()==='en'"><small>{{ vm.evaluation.stage.nameEn}}</small></h2>

  <div class="jumbotron">
    <div class="row justify-content-center mb-3">
      <div class="col">
        <div class="card">
          <div class="card-header text-center">
            <a class="card-title">{{ "PERSONAL_EV_PROGRESS" | translate }}</a>
          </div>
          <div class="card-block">
            <div class="row justify-content-center px-4 align-items-center">
              <div class="col-5 mr-5 pt-5">
                <div class="current-progress">{{ vm.currentEvaluationStep }}/4</div>
                <round-progress
                  max="4"
                  current="vm.currentEvaluationStep"
                  color="#428bca"
                  bgcolor="#eaeaea"
                  radius="150"
                  stroke="20"
                  semi="true"
                  rounded="false"
                  clockwise="true"
                  responsive="false"
                  duration="800"
                  animation="easeInOutQuart"
                  animation-delay="0"></round-progress>
              </div>
            </div>
            <div class="row justify-content-center px-4 align-items-center">
              <div class="col pb-5 text-center">
                {{vm.currentEvaluationStatus}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header text-center">
            <a class="card-title">{{ "EV_STEPS" | translate }}</a>
          </div>
          <div class="card-block">
            <div class="row justify-content-center px-4 align-items-center h-100">
              <div class="col py-5">
              <ol>
                <li>{{ "EV_STEP_1" | translate }}</li>
                <li>{{ "EV_STEP_2" | translate }}</li>
                <li>{{ "EV_STEP_3" | translate }}</li>
                <li>{{ "EV_STEP_4" | translate }}</li>
              </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-3">
      <div class="col">
        <div class="card">
          <div class="card-header text-center">
            <a class="card-title">{{ "EVALUATORS" | translate }}</a>
          </div>
          <div class="card-block">
            <div class="row justify-content-center px-4 align-items-center h-100">
              <div class="col py-5">
                <ul>
                  <li ng-repeat="evaluator in vm.evaluation.evaluators">{{evaluator.name}} - {{evaluator.evaluatorRole.name | translate}} - {{ evaluator.status | translate }}</li>
                </ul>
                <button type="button" class="btn btn-primary ml-4" ng-if="!vm.evaluationCompleted(vm.evaluation)" ng-click="vm.addEvaluators(vm.evaluation)">{{ "ADD_EVALUATOR" | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header text-center">
            <a class="card-title">{{ "EVALUATION_INFO" | translate }}</a>
          </div>
          <div class="card-block">
            <div class="row justify-content-center px-4 align-items-center h-100">
              <div class="col pt-5 pb-1">{{ "EVALUATION_START_DATE" | translate }}:</br>{{ vm.evaluation.stage.startDate | date: 'shortDate' }}</div>
              <div class="col pt-5 pb-1">{{ "EVALUATION_END_DATE" | translate }}:</br>{{ vm.evaluation.stage.endDate | date: 'shortDate' }}</div>
            </div>
            <div class="row justify-content-center px-4 align-items-center h-100" >
              <div class="col pt-1 pb-5">
                <button type="button" class="btn btn-primary align-middle" ng-if="vm.evaluationCompleted(vm.evaluation)" ng-click="vm.evaluationResults(vm.evaluation)">{{ "EVALUATION_RESULT" | translate }}</button>
                <button type="button" class="btn btn-primary align-middle" ng-if="!vm.evaluationCompleted(vm.evaluation)" ng-click="vm.finishEvaluationModal(vm.evaluation)">{{ "FINISH_EVALUATION" | translate }}</button>
                <label type="label">{{ "FINISH_EVALUATION_INFO" | translate }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
