/* Overrides for angular ui accordion styles */
@evaluation-color: #428bca;

#admin-evaluation {
  .card {
    margin-bottom: 5px !important;
  }

  .accordion>.card>.row>.col>.card-header {
    background-image: none !important;
    border-color: transparent !important;
    border-radius: 0 !important;
    color: white !important;
  }

  .card, .card-header {
    border: none !important;
  }

  .evaluation-header {
    background-color: @evaluation-color !important;
  }

  .fa-pencil:before {
    vertical-align: -20% !important;
  }

  .fa-trash:before{
    vertical-align: -40% !important;

  }
  .btn-edit-evaluation {
    margin-left: 3%;
    &:hover, &:active {
      background-color: darken(@evaluation-color, 15%) !important;
    }
  }
}

.participant {
  padding: 1.5em 2em;
}

.completed-evaluation {
  color: green;
}

.pending-evaluation {
  color: red;
}
