<div>
  <admin-menu></admin-menu>
  <h2>{{ "EVALUATION_HEADER" | translate }}</h2>

  <div class="jumbotron">
    <div class="container" id="admin-evaluation">
      <button class="btn btn-blue btn-outline btn-add py-3 mb-1" ng-click="vm.createEvaluation()">{{ "ADD_EVALUATION" |
        translate }}</button>
      <div id="accordion" class="accordion" ng-repeat="stage in vm.stages" ng-if="vm.currentLanguage('es')">
        <div class="card">
          <div class="row px-3">
            <div class="col p-0">
              <div class="card-header collapsed evaluation-header" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}"
                ng-model="clicked" ng-click="clicked = !clicked">
                <a class="card-title">{{ stage.nameEs }}</a>
                <i ng-if="evaluation.status !== 'COMPLETED'" class="fa fa-pencil pull-right btn-edit-evaluation" ng-click="vm.updateEvaluation(stage)">
                </i>
                <i class="fa pull-right" aria-hidden="true" ng-class="{ 'fa-chevron-down': !clicked, 'fa-chevron-up': clicked }"></i>
              </div>
            </div>
            <!-- <div class="col-1 btn btn-edit btn-edit-evaluation fa fa-pencil" ng-click="vm.updateEvaluation(evaluation, vm.surveys)"></div> -->
          </div>
          <div id="collapse{{$index}}" class="card-block collapse">
            <div class="row participant" ng-repeat="evaluation in stage.evaluations">
              <div class="col col-md-4">{{evaluation.user.name}}</div>
              <div class="col col-md-3" ng-class="vm.completedEvaluation(evaluation)">{{evaluation.status | translate}}</div>
              <div class="col-md-5" ng-if="evaluation.status == 'COMPLETED'">
                <button class="btn btn-primary align-middle" ng-click="vm.generateCSVreport(evaluation)">{{
                  "EVALUATION_RESULT" | translate }}
                </button>
                <button type="button" class="btn btn-primary align-middle" data-toggle="modal" data-target="#myModal{{$parent.$parent.$index}}{{$index}}">{{
                  "EVALUATION_RESULT_BY_DATE" | translate }}
                </button>
                <!-- Modal -->
                <div id="myModal{{$parent.$parent.$index}}{{$index}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" style="color:black">{{"USER_RESULTS" | translate}}</h4>
                        <button type="button" class="close align-right" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <label class="control-label" style="color:black">{{"EVALUATION_START_DATE" | translate}}</label>
                        <div class="col">
                          <input type="text" id="startDate" class="form-control" ng-click="vm.toggleStartDatePopup()"
                            ng-model="vm.evaluation.stage.startDate" placeholder="yyyy/mm/dd" uib-datepicker-popup="yyyy/MM/dd"
                            is-open="vm.startDatePopup.opened" datepicker-options="vm.dateOptions" ng-required="true"
                            close-text="{{ 'CLOSE_BUTTON' | translate }}" alt-input-formats current-text="{{ 'EVALUATION_CALENDAR_TODAY' | translate }}"
                            clear-text="{{ 'EVALUATION_CALENDAR_CLEAR' | translate }}" alt-input-formats="altInputFormats"
                            ui-mask="9999/99/99" model-view-value="true" />
                        </div>
                        <br>
                        <label class="control-label" style="color:black">{{"EVALUATION_END_DATE" | translate}}</label>
                        <div class="col">
                          <input type="text" id="endDate" class="form-control" ng-click="vm.toggleEndDatePopup()"
                            ng-model="vm.evaluation.stage.endDate" placeholder="yyyy/mm/dd" uib-datepicker-popup="yyyy/MM/dd"
                            is-open="vm.endDatePopup.opened" datepicker-options="vm.dateOptions" ng-required="true"
                            close-text="{{ 'CLOSE_BUTTON' | translate }}" current-text="{{ 'EVALUATION_CALENDAR_TODAY' | translate }}"
                            clear-text="{{ 'EVALUATION_CALENDAR_CLEAR' | translate }}" alt-input-formats="altInputFormats"
                            ui-mask="9999/99/99" model-view-value="true" />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary align-middle" ng-click="vm.generateCSVReportByUserDateRange(evaluation, vm.evaluation.stage.startDate, vm.evaluation.stage.endDate)">{{
                          "EVALUATION_RESULT" | translate }}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="accordion" class="accordion" ng-repeat="stage in vm.stages" ng-if="vm.currentLanguage('en')">
        <div class="card">
          <div class="row px-3">
            <div class="col p-0">
              <div class="card-header collapsed evaluation-header" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}"
                ng-model="clicked" ng-click="clicked = !clicked">
                <a class="card-title">{{ stage.nameEn }}</a>
                <i ng-if="evaluation.status !== 'COMPLETED'" class="fa fa-pencil pull-right btn-edit-evaluation" ng-click="vm.updateEvaluation(stage)">
                </i>
                <i class="fa pull-right" aria-hidden="true" ng-class="{ 'fa-chevron-down': !clicked, 'fa-chevron-up': clicked }"></i>
              </div>
            </div>
            <!-- <div class="col-1 btn btn-edit btn-edit-evaluation fa fa-pencil" ng-click="vm.updateEvaluation(evaluation, vm.surveys)"></div> -->
          </div>
          <div id="collapse{{$index}}" class="card-block collapse">
            <div class="row participant" ng-repeat="evaluation in stage.evaluations">
              <div class="col-5">{{evaluation.user.name}}</div>
              <div class="col-3" ng-class="vm.completedEvaluation(evaluation)">{{evaluation.status | translate}}</div>
              <div class="col-4" ng-if="evaluation.status == 'COMPLETED'">
                <button class="btn btn-primary align-middle" ng-click="vm.generateCSVreport(evaluation)">{{
                  "EVALUATION_RESULT" | translate }}
                </button>
                <button class="btn btn-primary align-middle" data-toggle="modal" data-target="#myModalEn{{$parent.$parent.$index}}{{$index}}">{{
                  "EVALUATION_RESULT_BY_DATE" | translate }}
                </button>
                <!-- Modal -->
                <div id="myModalEn{{$parent.$parent.$index}}{{$index}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" style="color:black">{{"USER_RESULTS" | translate}}</h4>
                        <button type="button" class="close align-right" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <label class="control-label" style="color:black">{{"EVALUATION_START_DATE" | translate}}</label>
                        <div class="col">
                          <input type="text" id="startDate" class="form-control" ng-click="vm.toggleStartDatePopup()"
                            ng-model="vm.evaluation.stage.startDate" placeholder="yyyy/mm/dd" uib-datepicker-popup="yyyy/MM/dd"
                            is-open="vm.startDatePopup.opened" datepicker-options="vm.dateOptions" ng-required="true"
                            close-text="{{ 'CLOSE_BUTTON' | translate }}" alt-input-formats current-text="{{ 'EVALUATION_CALENDAR_TODAY' | translate }}"
                            clear-text="{{ 'EVALUATION_CALENDAR_CLEAR' | translate }}" alt-input-formats="altInputFormats"
                            ui-mask="9999/99/99" model-view-value="true" />
                        </div>
                        <br>
                        <label class="control-label" style="color:black">{{"EVALUATION_END_DATE" | translate}}</label>
                        <div class="col">
                          <input type="text" id="endDate" class="form-control" ng-click="vm.toggleEndDatePopup()"
                            ng-model="vm.evaluation.stage.endDate" placeholder="yyyy/mm/dd" uib-datepicker-popup="yyyy/MM/dd"
                            is-open="vm.endDatePopup.opened" datepicker-options="vm.dateOptions" ng-required="true"
                            close-text="{{ 'CLOSE_BUTTON' | translate }}" current-text="{{ 'EVALUATION_CALENDAR_TODAY' | translate }}"
                            clear-text="{{ 'EVALUATION_CALENDAR_CLEAR' | translate }}" alt-input-formats="altInputFormats"
                            ui-mask="9999/99/99" model-view-value="true" />
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary align-middle" ng-click="vm.generateCSVReportByUserDateRange(evaluation, vm.evaluation.stage.startDate, vm.evaluation.stage.endDate)">{{
                          "EVALUATION_RESULT" | translate }}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3" ng-if="evaluation.status !== 'COMPLETED'">
                <button class="btn btn-primary align-middle" ng-click="vm.updateEvaluation(evaluation)">{{
                  "UPDATE_EVALUATION" |
                  translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>