<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ "ADD_EVALUATION" | translate }}</h4>
    <button type="button" class="close" ng-click="vm.closeModal()">&times;</button>
  </div>
  <div class="modal-body">
    <form name="form">
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <p class="text-justify">{{ "EVALUATION_INSTRUCTIONS" | translate }}</p>
          </div>
        </div>
        <div class="row">  
          <div class="col form-group">
            <label class="control-label">{{ "EVALUATION_NAME" | translate }}: (EN)</label>
            <div class="col">
              <input type="text" class="form-control" ng-model="vm.evaluation.stage.nameEn" placeholder="{{ 'EVALUATION_NAME' | translate }}" name="name" required>
            </div>
          </div>
          <div class="col form-group">
            <label class="control-label">{{ "EVALUATION_NAME" | translate }}: (ES)</label>
            <div class="col">
              <input type="text" class="form-control" ng-model="vm.evaluation.stage.nameEs" placeholder="{{ 'EVALUATION_NAME' | translate }}" name="name" required>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col form-group">
            <label class="control-label">{{ "EVALUATION_SURVEY" | translate }}:</label>
            <div class="col">
              <select required class="form-control" ng-options="survey.id as survey.nameEs for survey in vm.surveys track by survey.id" ng-model="vm.evaluation.survey.id" ng-if="vm.currentLanguage('es')"></select>
              <select required class="form-control" ng-options="survey.id as survey.nameEn for survey in vm.surveys track by survey.id" ng-model="vm.evaluation.survey.id" ng-if="vm.currentLanguage('en')"></select>
            </div>
          </div>
          <div class="col form-group">
            <label class="control-label">{{ "EVALUATION_EMAILS" | translate }}: </label>
            <div class="col">
              <textarea class="form-control" rows="5" ng-model="vm.evaluation.emails" ng-list="," required></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col form-group">
            <label class="control-label">{{ "EVALUATION_START_DATE" | translate }}: </label>
            <div class="col">
              <input type="text" id="startDate" class="form-control" ng-click="vm.toggleStartDatePopup()"
                placeholder="yyyy/mm/dd" uib-datepicker-popup="yyyy/MM/dd"
                ng-model="vm.evaluation.stage.startDate" is-open="vm.startDatePopup.opened"
                datepicker-options="vm.dateOptions" ng-required="true" close-text="{{ 'CLOSE_BUTTON' | translate }}"
                current-text="{{ 'EVALUATION_CALENDAR_TODAY' | translate }}" clear-text="{{ 'EVALUATION_CALENDAR_CLEAR' | translate }}" alt-input-formats="altInputFormats"
                ui-mask="9999/99/99"
                model-view-value="true"/>
            </div>
          </div>
          <div class="col form-group">
            <label class="control-label">{{ "EVALUATION_END_DATE" | translate }}: </label>
            <div class="col">
              <input type="text" id="endDate" class="form-control" ng-click="vm.toggleEndDatePopup()"
                placeholder="yyyy/mm/dd" uib-datepicker-popup="yyyy/MM/dd"
                ng-model="vm.evaluation.stage.endDate" is-open="vm.endDatePopup.opened"
                datepicker-options="vm.endDateOptions" ng-required="true" close-text="{{ 'CLOSE_BUTTON' | translate }}"
                current-text="{{ 'EVALUATION_CALENDAR_TODAY' | translate }}" clear-text="{{ 'EVALUATION_CALENDAR_CLEAR' | translate }}" alt-input-formats="altInputFormats"
                ui-mask="9999/99/99"
                model-view-value="true"/>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-disabled="form.$error.required" ng-click="vm.createEvaluation()">{{ "ADD_EVALUATION" | translate }}</button>
        <button type="button" class="btn btn-default" ng-click="vm.closeModal()">{{ "CLOSE_BUTTON" | translate }}</button>
      </div>
    </form>
  </div>  
</div>
