<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ "EDIT_EVALUATION" | translate }}</h4>
    <button type="button" class="close" ng-click="vm.closeModal()">&times;</button>
  </div>
  <div class="modal-body">
    <form name="form">
      <div class="modal-body">
        <div class="row">
          <div class="col form-group">
            <label class="control-label col">{{ "EVALUATION_NAME" | translate }}: (EN)</label>
            <div class="col">
              <input type="text" class="form-control" ng-model="vm.stage.nameEn" name="name">
            </div>
          </div>
          <div class="col form-group">
            <label class="control-label col">{{ "EVALUATION_NAME" | translate }}: (ES)</label>
            <div class="col">
              <input type="text" class="form-control" ng-model="vm.stage.nameEs">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            <label class="control-label col">{{ "EVALUATION_START_DATE" | translate }}: </label>
            <div class="col">
              <input type="text" id="startDate" class="form-control" ng-click="vm.toggleStartDatePopup()" placeholder="yyyy/mm/dd"
                uib-datepicker-popup="yyyy/MM/dd" ng-model="vm.stage.startDate" is-open="vm.startDatePopup.opened"
                datepicker-options="vm.dateOptions" ng-required="true" close-text="{{ 'CLOSE_BUTTON' | translate }}"
                current-text="{{ 'EVALUATION_CALENDAR_TODAY' | translate }}" clear-text="{{ 'EVALUATION_CALENDAR_CLEAR' | translate }}"
                alt-input-formats="altInputFormats" ui-mask="9999/99/99" model-view-value="true" />
            </div>
          </div>
          <div class="col form-group">
            <label class="control-label col">{{ "EVALUATION_END_DATE" | translate }}: </label>
            <div class="col">
              <input type="text" id="endDate" class="form-control" ng-click="vm.toggleEndDatePopup()" placeholder="yyyy/mm/dd"
                uib-datepicker-popup="yyyy/MM/dd" ng-model="vm.stage.endDate" is-open="vm.endDatePopup.opened"
                datepicker-options="vm.dateOptions" ng-required="true" close-text="{{ 'CLOSE_BUTTON' | translate }}"
                current-text="{{ 'EVALUATION_CALENDAR_TODAY' | translate }}" clear-text="{{ 'EVALUATION_CALENDAR_CLEAR' | translate }}"
                alt-input-formats="altInputFormats" ui-mask="9999/99/99" model-view-value="true" />
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.updateEvaluation()">{{
      "EDIT_EVALUATION" | translate }}</button>
    <button type="button" class="btn btn-default" ng-click="vm.closeModal()">{{ "CLOSE_BUTTON" | translate }}</button>
  </div>
  </form>
</div>
</div>