@brand-primary: #428bca;

.gray-background {
  background-color: #E9ECEF;
}

.btn, .card-header {
  cursor: pointer !important;
}

.pointer {
  cursor: pointer !important;
}

.btn-rounded {
  border-radius: 50px !important;
}

.btn-primary {
  background-color: darken(@brand-primary, 5%) !important;
  border: 2px solid white !important;
  color: white !important;

  &:hover, &:active {
    background-color: darken(@brand-primary, 15%) !important;
  }
}

.btn-outline.btn-white {
  box-shadow: 0 0 0 2px #fff inset;
  color: #fff;
}

.btn-outline.btn-blue {
  background: 0 0;
  box-shadow: 0 0 0 2px @brand-primary inset;
  color: @brand-primary;
}

.btn-add {
  width: 100%;

  &:hover, &:active {
    background-color: @brand-primary !important;
    color: white !important;
  }
}

.btn-edit {
  color: white !important;
  border-radius: 0 !important;
}

.separator {
  padding-top: 15em;
}

.dashboard-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ecf0f1;
  color: #666;

  /*
  * Base structure
  */
  /*
  * Global add-ons
  */
  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  /*
  * Top navigation
  * Hide default border to remove 1px line.
  */
  .navbar-fixed-top {
    border: 0;
  }

  /*
  * Sidebar
  */
  /* Hide for mobile, show later */
  .sidebar {
    .user-avatar {
      margin: 50px 0 15px 0;
      height: auto;
      width: 90%;
    }
    .brand {
      padding-top: 15px;
    }
    display: none;
    color: #FFF;
    h2 {
      font-weight: 300;
      small {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 0px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 0 20px 20px 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: lighten(@brand-primary, 0%); //#f5f5f5;
      border-right: 1px solid #eee;
    }
  }

  .nav > li, .nav > li {
    padding: 1em 0 1em 0;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background: darken(@brand-primary, 5%);
    color: white;
  }

  /* Sidebar navigation */
  .list-group-item-action {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: @brand-primary;
    border: none;
    color: white;

    &:hover {
      background-color: darken(@brand-primary, 5%);
      color: white;
    }
  }

  .list-group-item-action.active {
    background-color: darken(@brand-primary, 5%) !important;
  }

  /*
  * Main content
  */
  .main {
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    .jumbotron {
      background: #FFF;
      margin-top: 20px;
    }
  }

  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  .main .page-header {
    margin-top: 0;
  }

  /*
  * Placeholder dashboard ideas
  */
  .placeholders {
    margin-bottom: 30px;
    text-align: center;
  }

  .placeholders h4 {
    margin-bottom: 0;
  }

  .placeholder {
    margin-bottom: 20px;
  }

  .placeholder img {
    display: inline-block;
    border-radius: 50%;
  }

  .bg-fade {
    font-size: 500px;
    color: rgba(0,0,0,0.1);
    position: absolute;
    right: -100px;
    top: 200px;
  }

  .text-bottom {
    position: absolute;
    bottom: 0px;
  }

  .text-small {
    font-size: 13px !important;
  }
}

// modal classes
.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.fade {
    filter: alpha(opacity=50);
    opacity: .5 !important;
}

.modal-dialog {
  margin-top: 10em !important;
  max-width: 85% !important;
}
