<div>
  <admin-menu></admin-menu>
  <h2>Questions <small>Administration</small></h2><button class="btn btn-blue btn-outline btn-rounded" ng-click="vm.createQuestion()">Create question</button>
  <div class="jumbotron">
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Question type</th>
            <th>Email</th>
            <th>Manager</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="question in vm.questions">
            <td>{{question.name}} {{question.lastname}}</td>
            <td>{{question.questionType.name}}</td>
            <td>{{question.email}}</td>
            <td>{{question.manager.name}} {{question.manager.lastname}}</td>
            <td>{{question.active}}</td>
            <td>
              <a ng-click="vm.updateQuestion(question)"><span class='glyphicon glyphicon-pencil'></span> Edit</a>
              -
              <a ng-show="question.active" ng-click="vm.deleteQuestion(question)"><span class='glyphicon glyphicon-remove'></span> Deactivate</a>
              <a ng-hide="question.active" ng-click="vm.deleteQuestion(question)"><span class='glyphicon glyphicon-ok'></span> Activate</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
