<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.close()">&times;</button>
    <h4 class="modal-title">Change status</h4>
  </div>
  <div class="modal-body">
    <div class="modal-body form-horizontal">
      Are you sure you want to change the status of this subtopic?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="vm.deleteSubtopic()">Change status</button>
      <button type="button" class="btn btn-default" ng-click="vm.close()">Close</button>
    </div>
  </div>  
</div>
