<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ "ADD_EVALUATOR" | translate }}</h4>
    <button type="button" class="close" ng-click="vm.closeModal()">&times;</button>
  </div>
  <div class="modal-body">
    <form name="form">
      <div class="modal-body form-horizontal">
        <div class="row py-1">
          <div class="col">
            <p class="text-justify">{{ "EVALUATOR_LIMITS" | translate }}</p>
          </div>
        </div>
        <div class="row py-1" ng-repeat="evaluator in vm.request.evaluators">
          <div class="col">
            <select class="form-control" ng-options="role.nameEs as role.nameEs for role in vm.roles track by role.nameEs" ng-model="evaluator.role" ng-if="vm.currentLanguage('es')"></select>
            <select class="form-control" ng-options="role.nameEs as role.nameEn for role in vm.roles track by role.nameEs" ng-model="evaluator.role" ng-if="vm.currentLanguage('en')"></select>
          </div>
          <div class="col">
            <input type="text" class="form-control" ng-model="evaluator.name" placeholder="{{ 'EVALUATOR_NAME' | translate }}" name="name" required>
          </div>
          <div class="col">
            <input type="text" class="form-control" ng-model="evaluator.email" placeholder="{{ 'EVALUATOR_EMAIL' | translate }}" name="name" required>
          </div>
          <div class="col">
            <button class="btn btn-primary" ng-show="$last" ng-click="vm.removeEvaluator()">&times;</button>
          </div>
        </div>
        <div class="row ml-0">
          <button class="btn btn-primary" ng-click="vm.addEvaluator()">{{ "NEW_EVALUATOR" | translate }}</button>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-disabled="form.$error.required" ng-click="vm.checkEvaluators()">{{ "ADD_EVALUATOR" | translate }}</button>
      <button type="button" class="btn btn-default" ng-click="vm.closeModal()">{{ "CLOSE_BUTTON" | translate }}</button>
    </div>
  </div>
</div>
