@blue: #428bca; 
@full: 100%;
@brand-primary: #428bca;

.form-page {
  overflow: auto;
  background: @brand-primary;
  text-align: center;
  padding: 3em;
  h1 {
    font-weight: 300;
    small {
      color: rgba(255,255,255,0.7);
    }
  }

  .list-group-item-action {
    background-color: @brand-primary !important;
    border: none !important;
    color: white !important;
    padding: 1em !important;
    border-radius: 5px !important;

    &:hover {
      background-color: darken(@brand-primary, 5%) !important;
      color: white !important;
    }
  }

  .list-group-item-action.active {
    background-color: darken(@brand-primary, 5%) !important;
  }

  .form-group {
    padding: 8px 0;
  }

  .form-content {
    padding: 40px 0;
  }

  .logo-form {
    padding-top: 1em;
    height: 13em;
    width: auto;
  }

  .btn-outline {
    background: 0 0;
    box-shadow: 0 0 0 2px #fff inset;
    color: #fff;
  }

  .white {
    color: #fff;
  }

  .white-background {
    background-color: white;
    border-radius: 5px;
  }

  .hr {
    border-top: 0.2em solid #000;
  }

  .jumbotron {
    background-color: #fff;
  }

  /* To override ngreactions styles */
  .drop-shadow {
    position: relative;
    float: none !important;
    background: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .scaleImage {
    right: 5%;
    z-index: 1001;
    top: 0;
    position: fixed;
    display: none;
  }

  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    margin-right: 0.5rem;
    z-index: 1000;
  }
   
  .option-input:hover { background: #9faab7; }
   
  .option-input:checked { background: @brand-primary; }
   
  .option-input:checked::before {
    width: 20px;
    height: 20px;
    position: absolute;
    content: '\2716';
    display: inline-block;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
  }
   
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
   
  .option-input.radio { border-radius: 50%; }
  .option-input.radio::after { border-adius: 50%; }
}

@media only screen and (min-device-width : 0px) and (max-device-width : 450px) {
  .form-page {
      .image {
        width: 101%;
      }
      .scaleImage {
        width: 98%;
        padding: 0 2% 0 2%;
        left: 1%;
      }

  }
}

  @media only screen and (min-device-width : 0px) and (max-device-width : 1100px) {
    .form-page {
        .scaleImage {
          right: 5%;
        }
    }
}

@media (orientation: landscape) and (max-width : 850px) { 
  .form-page {
      .scaleImage {
        right: 1%;
      }
  }
}

@media only screen and (max-device-width : 850px) { 
  .form-page {
      .scaleImage {
        right: 1.1%;
      }
  }
}


@media (orientation: landscape) and (max-width : 700px) { 
    .form-page {
        .scaleImage {
          right: 1.2%;
        }
    }
}

@media only screen and (orientation: landscape) and (min-device-width : 1000px) { 
  .form-page {
      .scaleImage {
        right: 3.7%;
      }
  }
}

