<div class="form-page container-fluid">
  <div class="row justify-content-center">
    <img src="app/images/fifco3.png" />
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-lg-1 col-md-3 col-6">
      <a ng-click="vm.setLanguage('es')" class="list-group-item-action" ng-class="{active: vm.isLanguage('es')}">ES</a>
    </div>
    <div class="col-lg-1 col-md-3 col-6">
      <a ng-click="vm.setLanguage('en')" class="list-group-item-action" ng-class="{active: vm.isLanguage('en')}">EN</a>
    </div>
  </div>

  <div class="row justify-content-center my-3 list-group">
    <h2 class="white" ng-if="vm.isLanguage('es')">{{vm.survey.nameEs}}</h2>
    <h2 class="white" ng-if="vm.isLanguage('en')">{{vm.survey.nameEn}}</h2>

    <h3 class="text-justify mx-2 mx-md-5 mx-lg-5 mt-1 white">{{ "INSTRUCTIONS_LABEL" | translate }}</h3>
    <p class="text-justify mx-2 mx-md-5 mx-lg-5 mt-1 white">{{ "INSTRUCTIONS" | translate }}</p>
    <p class="text-center font-weight-bold mx-2 mx-md-5 mx-lg-5 mt-1 white">{{ "SCALE" | translate }}</p>

    <div>
      <div class="col" ng-if="vm.isLanguage('es')">
        <img class="mx-auto rounded image" src="app/images/scale.png">
        <img id="scaleImageId" class="mx-auto rounded scaleImage image" src="app/images/scale.png">
      </div>
      <div class="col" ng-if="vm.isLanguage('en')">
        <img class="mx-auto rounded image" src="app/images/scale_en.png">
        <img id="scaleImageId" class="mx-auto rounded scaleImage image" src="app/images/scale_en.png">
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-1">
    <div class="row justify-content-center my-3 list-group" ng-if="!vm.validEvaluation">
      <h3 class="text-center mx-2 mx-md-5 mx-lg-5 mt-5 white">{{ "EXPIRED_TEXT" | translate }}</h3>
    </div>
    <form class="mx-2 mx-md-2 mx-lg-5 white-background" name="form" novalidate ng-if="vm.validEvaluation">
      <div class="" ng-repeat="(question_index, question) in vm.questions | orderBy: 'type'">
        <div class="row">
          <div class="col">
            <p ng-if="vm.isLanguage('es')" class="text-justify mx-2 mx-md-5 mx-lg-5 mt-1">{{question_index+1}}.
              {{question.statementEs}}</p>
            <p ng-if="vm.isLanguage('en')" class="text-justify mx-2 mx-md-5 mx-lg-5 mt-1">{{question_index+1}}.
              {{question.statementEn}}</p>
          </div>
        </div>
        <div class="row justify-content-center my-1">
          <div class="col d-none d-md-block d-lg-block d-xl-block" ng-if="question.type == 'Closed'">
            <div class="row justify-content-center">
              <div class="col-2 col-lg-1 col-md-1" ng-repeat="value1 in vm.scale1">
                <label>
                  <input type="radio" class="option-input radio" ng-model="vm.answers[question_index].response"
                    ng-value="value1" required />{{ value1 }}
                </label>
              </div>
              <div class="col-2 col-lg-1 col-md-1" ng-repeat="value2 in vm.scale2">
                <label>
                  <input type="radio" class="option-input radio" ng-model="vm.answers[question_index].response"
                    ng-value="value2" required />{{ value2 }}
                </label>
              </div>
            </div>
          </div>
          <div class="col d-md-none d-lg-none d-xl-none" ng-if="question.type == 'Closed'">
            <div class="row justify-content-center">
              <div class="col-2 col-lg-3 col-md-2" ng-repeat="value1 in vm.scale1">
                <label>
                  <input type="radio" class="option-input radio" ng-model="vm.answers[question_index].response"
                    ng-value="value1" required />{{ value1 }}
                </label>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-2 col-lg-3 col-md-2" ng-repeat="value2 in vm.scale2">
                <label>
                  <input type="radio" class="option-input radio" ng-model="vm.answers[question_index].response"
                    ng-value="value2" required />{{ value2 }}
                </label>
              </div>
            </div>
          </div>
          <div class="col mx-2" ng-if="question.type == 'Open'">
            <textarea class="form-control" rows="5" ng-model="vm.answers[question_index].response" required></textarea>
          </div>
        </div>
        <hr>
      </div>
      <div class="col my-3">
        <button class="btn btn-primary btn-lg btn-rounded" ng-click="vm.sendAnswers()" ng-disabled="form.$error.required">{{
          "SEND_ANSWERS" | translate }}
          <span class="fa fa-envelope-o" />
        </button>
        <button class="btn btn-primary btn-lg btn-rounded" ng-click="vm.postDraftAnswers()">{{
          "SAVE_AS_DRAFT" | translate }}
          <span class="fa fa-envelope-o" />
        </button>
      </div>
      <span ng-show="form.$error.required && form.$dirty" class="help-block text-danger">{{ "BLANK_FORM_ERROR" |
        translate }}</span>
    </form>
  </div>
</div>