<div class="form-page container-fluid" style="height: 100vh">
  <div class="row justify-content-center">
    <img src="app/images/fifco3.png" />
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-lg-1 col-md-3 col-6"><a ng-click="vm.setLanguage('es')" class="list-group-item-action" ng-class="{active: vm.isLanguage('es')}">ES</a></div>
    <div class="col-lg-1 col-md-3 col-6"><a ng-click="vm.setLanguage('en')" class="list-group-item-action" ng-class="{active: vm.isLanguage('en')}">EN</a></div>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <h2 class="mx-2 mx-md-5 mx-lg-5 mt-1 white">{{ "THANKS" | translate }}</h2>
      <p class="text-center white">{{ "THANKS_2" | translate }}</p>
    </div> 
  </div>
</div>
