.gray-background {
  background-color: #E9ECEF;
}
.btn,
.card-header {
  cursor: pointer !important;
}
.pointer {
  cursor: pointer !important;
}
.btn-rounded {
  border-radius: 50px !important;
}
.btn-primary {
  background-color: #357ebd !important;
  border: 2px solid white !important;
  color: white !important;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #2a6496 !important;
}
.btn-outline.btn-white {
  box-shadow: 0 0 0 2px #fff inset;
  color: #fff;
}
.btn-outline.btn-blue {
  background: 0 0;
  box-shadow: 0 0 0 2px #428bca inset;
  color: #428bca;
}
.btn-add {
  width: 100%;
}
.btn-add:hover,
.btn-add:active {
  background-color: #428bca !important;
  color: white !important;
}
.btn-edit {
  color: white !important;
  border-radius: 0 !important;
}
.separator {
  padding-top: 15em;
}
.dashboard-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ecf0f1;
  color: #666;
  /*
  * Base structure
  */
  /*
  * Global add-ons
  */
  /*
  * Top navigation
  * Hide default border to remove 1px line.
  */
  /*
  * Sidebar
  */
  /* Hide for mobile, show later */
  /* Sidebar navigation */
  /*
  * Main content
  */
  /*
  * Placeholder dashboard ideas
  */
}
.dashboard-page .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.dashboard-page .navbar-fixed-top {
  border: 0;
}
.dashboard-page .sidebar {
  display: none;
  color: #FFF;
}
.dashboard-page .sidebar .user-avatar {
  margin: 50px 0 15px 0;
  height: auto;
  width: 90%;
}
.dashboard-page .sidebar .brand {
  padding-top: 15px;
}
.dashboard-page .sidebar h2 {
  font-weight: 300;
}
.dashboard-page .sidebar h2 small {
  color: rgba(255, 255, 255, 0.7);
}
@media (min-width: 768px) {
  .dashboard-page .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #428bca;
    border-right: 1px solid #eee;
  }
}
.dashboard-page .nav > li,
.dashboard-page .nav > li {
  padding: 1em 0 1em 0;
}
.dashboard-page .nav > li > a:hover,
.dashboard-page .nav > li > a:focus {
  background: #357ebd;
  color: white;
}
.dashboard-page .list-group-item-action {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #428bca;
  border: none;
  color: white;
}
.dashboard-page .list-group-item-action:hover {
  background-color: #357ebd;
  color: white;
}
.dashboard-page .list-group-item-action.active {
  background-color: #357ebd !important;
}
.dashboard-page .main {
  padding: 20px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}
.dashboard-page .main .jumbotron {
  background: #FFF;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .dashboard-page .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.dashboard-page .main .page-header {
  margin-top: 0;
}
.dashboard-page .placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.dashboard-page .placeholders h4 {
  margin-bottom: 0;
}
.dashboard-page .placeholder {
  margin-bottom: 20px;
}
.dashboard-page .placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.dashboard-page .bg-fade {
  font-size: 500px;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: -100px;
  top: 200px;
}
.dashboard-page .text-bottom {
  position: absolute;
  bottom: 0px;
}
.dashboard-page .text-small {
  font-size: 13px !important;
}
.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.fade {
  filter: alpha(opacity=50);
  opacity: .5 !important;
}
.modal-dialog {
  margin-top: 10em !important;
  max-width: 85% !important;
}

.overflow {
  height: 15em;
  overflow-y: scroll;
  overflow-x: hidden;
}
.started-hr {
  width: 0%;
}
.sent-invites {
  width: 35%;
}
.in-progress {
  width: 70%;
}
.completed {
  width: 100%;
}
.progress-bar {
  background-color: #428bca !important;
}
.evaluation {
  background-color: #e9ecef;
}
.progress {
  border-radius: 0 !important;
}
.current-progress {
  position: absolute;
  color: #bbb;
  font-weight: 100;
  line-height: 1;
  top: auto;
  bottom: 5%;
  left: 58%;
  transform: translateX(-50%);
  font-size: 30px;
}
.link {
  color: #007bff;
}

.form-page {
  overflow: auto;
  background: #428bca;
  text-align: center;
  padding: 3em;
  /* To override ngreactions styles */
}
.form-page h1 {
  font-weight: 300;
}
.form-page h1 small {
  color: rgba(255, 255, 255, 0.7);
}
.form-page .list-group-item-action {
  background-color: #428bca !important;
  border: none !important;
  color: white !important;
  padding: 1em !important;
  border-radius: 5px !important;
}
.form-page .list-group-item-action:hover {
  background-color: #357ebd !important;
  color: white !important;
}
.form-page .list-group-item-action.active {
  background-color: #357ebd !important;
}
.form-page .form-group {
  padding: 8px 0;
}
.form-page .form-content {
  padding: 40px 0;
}
.form-page .logo-form {
  padding-top: 1em;
  height: 13em;
  width: auto;
}
.form-page .btn-outline {
  background: 0 0;
  box-shadow: 0 0 0 2px #fff inset;
  color: #fff;
}
.form-page .white {
  color: #fff;
}
.form-page .white-background {
  background-color: white;
  border-radius: 5px;
}
.form-page .hr {
  border-top: 0.2em solid #000;
}
.form-page .jumbotron {
  background-color: #fff;
}
.form-page .drop-shadow {
  position: relative;
  float: none !important;
  background: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.form-page .scaleImage {
  right: 5%;
  z-index: 1001;
  top: 0;
  position: fixed;
  display: none;
}
.form-page .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  top: 5px;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin-right: 0.5rem;
  z-index: 1000;
}
.form-page .option-input:hover {
  background: #9faab7;
}
.form-page .option-input:checked {
  background: #428bca;
}
.form-page .option-input:checked::before {
  width: 20px;
  height: 20px;
  position: absolute;
  content: '\2716';
  display: inline-block;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}
.form-page .option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.form-page .option-input.radio {
  border-radius: 50%;
}
.form-page .option-input.radio::after {
  border-adius: 50%;
}
@media only screen and (min-device-width: 0px) and (max-device-width: 450px) {
  .form-page .image {
    width: 101%;
  }
  .form-page .scaleImage {
    width: 98%;
    padding: 0 2% 0 2%;
    left: 1%;
  }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 1100px) {
  .form-page .scaleImage {
    right: 5%;
  }
}
@media (orientation: landscape) and (max-width: 850px) {
  .form-page .scaleImage {
    right: 1%;
  }
}
@media only screen and (max-device-width: 850px) {
  .form-page .scaleImage {
    right: 1.1%;
  }
}
@media (orientation: landscape) and (max-width: 700px) {
  .form-page .scaleImage {
    right: 1.2%;
  }
}
@media only screen and (orientation: landscape) and (min-device-width: 1000px) {
  .form-page .scaleImage {
    right: 3.7%;
  }
}

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #428bca;
  text-align: center;
  color: #fff;
  padding: 3em;
}
.login-page h1 {
  font-weight: 300;
}
.login-page h1 small {
  color: rgba(255, 255, 255, 0.7);
}
.login-page .form-group {
  padding: 8px 0;
  width: 20em;
  margin-right: auto;
  margin-left: auto;
}
.login-page .form-content {
  padding: 40px 0;
}
.login-page .logo-login {
  padding-top: 3em;
  height: 10em;
  width: auto;
}
.login-page .btn-primary {
  background-color: #357ebd !important;
  border: 2px solid white !important;
  color: white !important;
}
.login-page .btn-primary:hover,
.login-page .btn-primary:active {
  background-color: #2a6496 !important;
}
.login-page .btn-lang:hover,
.login-page .btn-lang:active {
  background-color: #2a6496 !important;
}
.login-page .btn-padding {
  padding: 1em 8em;
  border-radius: 15px;
}
.login-page .padding-5 {
  padding: 5em 0;
}
.input-underline {
  /* !important to override bootstrap styles */
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4) !important;
  color: #FFF !important;
  border-radius: 0 !important;
}
.input-underline::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.input-underline::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.input-underline::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.input-underline:focus {
  border-bottom: 2px solid #ffffff !important;
  box-shadow: none !important;
}

/* Overrides for angular ui accordion styles */
#admin-evaluation .card {
  margin-bottom: 5px !important;
}
#admin-evaluation .accordion > .card > .row > .col > .card-header {
  background-image: none !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  color: white !important;
}
#admin-evaluation .card,
#admin-evaluation .card-header {
  border: none !important;
}
#admin-evaluation .evaluation-header {
  background-color: #428bca !important;
}
#admin-evaluation .fa-pencil:before {
  vertical-align: -20% !important;
}
#admin-evaluation .fa-trash:before {
  vertical-align: -40% !important;
}
#admin-evaluation .btn-edit-evaluation {
  margin-left: 3%;
}
#admin-evaluation .btn-edit-evaluation:hover,
#admin-evaluation .btn-edit-evaluation:active {
  background-color: #2a6496 !important;
}
.participant {
  padding: 1.5em 2em;
}
.completed-evaluation {
  color: green;
}
.pending-evaluation {
  color: red;
}

#admin-survey .card,
.modal-body .card {
  margin-bottom: 5px !important;
}
#admin-survey .accordion > .card > .row > .col > .card-header,
.modal-body .accordion > .card > .row > .col > .card-header {
  background-image: none !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  color: white !important;
}
#admin-survey .card,
.modal-body .card,
#admin-survey .card-header,
.modal-body .card-header {
  border: none !important;
}
#admin-survey .survey-header,
.modal-body .survey-header {
  background-color: #428bca !important;
}
#admin-survey .topic-header,
.modal-body .topic-header {
  background-color: #8CA8D8 !important;
  color: white !important;
  border-radius: 0 !important;
}
#admin-survey .subtopic-header,
.modal-body .subtopic-header {
  background-color: #17A0DB !important;
}
#admin-survey .fa-pencil:before,
.modal-body .fa-pencil:before {
  vertical-align: -40% !important;
}
#admin-survey .fa-trash:before,
.modal-body .fa-trash:before {
  vertical-align: -40% !important;
}
#admin-survey .btn-edit-survey,
.modal-body .btn-edit-survey {
  background-color: #357ebd !important;
  width: 5%;
}
#admin-survey .btn-edit-survey:hover,
.modal-body .btn-edit-survey:hover,
#admin-survey .btn-edit-survey:active,
.modal-body .btn-edit-survey:active {
  background-color: #2a6496 !important;
}
#admin-survey .btn-edit-topic,
.modal-body .btn-edit-topic {
  background-color: #799ad2 !important;
}
#admin-survey .btn-edit-topic:hover,
.modal-body .btn-edit-topic:hover,
#admin-survey .btn-edit-topic:active,
.modal-body .btn-edit-topic:active {
  background-color: #537dc5 !important;
}
#admin-survey .btn-edit-subtopic,
.modal-body .btn-edit-subtopic {
  background-color: #158fc4 !important;
}
#admin-survey .btn-edit-subtopic:hover,
.modal-body .btn-edit-subtopic:hover,
#admin-survey .btn-edit-subtopic:active,
.modal-body .btn-edit-subtopic:active {
  background-color: #106d96 !important;
}

.report {
  float: none !important;
  color: black;
}
.report .image-report {
  width: 100%;
}
.report .fill-box {
  width: 90% !important;
  height: 150px !important;
  border: 1px solid #000 !important;
  background-color: #E9ECEF !important;
}
.report .motivation {
  border-top: thick double #428bca !important;
  border-right-style: none !important;
  border-bottom: thick double #428bca !important;
  border-left-style: none !important;
}
.report .unordered-list {
  list-style-type: none;
}
.report table {
  width: 100%;
}
.report .fixed-table {
  table-layout: fixed;
}
.report th {
  text-align: center;
  background-color: #938953;
}
.report td {
  text-align: center;
  font-size: 12px;
}
.report td:first-child {
  text-align: left;
}
.report td,
.report th {
  font-size: 12px;
  border: 1px solid black;
  padding: 4px;
}
.report .inside-table-header {
  font-weight: 500;
  background-color: #DDD9C4;
}
.report .page {
  padding: 10mm 15mm 10mm 15mm;
  margin: 10mm 15mm 10mm 15mm !important;
  width: 210mm;
  min-height: 297mm;
  break-after: page;
  page-break-after: always !important;
  border: 1px solid #000 !important;
}
@media print {
  .report .page {
    padding: 10mm 15mm 10mm 15mm !important;
    margin: 10mm 15mm 10mm 15mm !important;
    width: initial;
    min-height: initial;
    break-after: page;
    page-break-after: always !important;
    page-break-inside: avoid;
    float: none !important;
    border: none !important;
  }
  .report table {
    width: 100%;
  }
  .report .fixed-table {
    table-layout: fixed !important;
  }
  .report th {
    text-align: center;
    background-color: #938953 !important;
  }
  .report td {
    text-align: center;
    font-size: 12px;
  }
  .report td:first-child {
    text-align: left;
  }
  .report td,
  .report th {
    border: 1px solid black;
    padding: 4px;
  }
  .report .inside-table-header {
    font-weight: 500 !important;
    background-color: #DDD9C4 !important;
  }
}
@page {
  size: A4;
  margin: 0;
}
