@brand-primary: #428bca;

.overflow {
  height: 15em;
  overflow-y: scroll;
  overflow-x: hidden;
}

// progress bar ng-classes
.started-hr {
  width: 0%
}

.sent-invites {
  width: 35%;
}

.in-progress {
  width: 70%;
}

.completed {
  width: 100%;
}

.progress-bar {
  background-color: @brand-primary !important;
}

.evaluation {
  background-color: #e9ecef;
}

.progress {
  border-radius: 0 !important;
}

.current-progress {
  position: absolute;
  color: #bbb;
  font-weight: 100;
  line-height: 1;
  top: auto;
  bottom: 5%;
  left: 58%;
  transform: translateX(-50%);
  font-size: 30px;
}

.link {
  color: #007bff;
}
