<div>
  <h2><small>{{ "DASHBOARD_HEADER" | translate }}</small></h2>
  <div class="jumbotron">
    <div class="">
      <div class="row justify-content-center py-3">
        <div class="col-6">
          <div class="card">
            <div class="card-header text-center">
              <a class="card-title">{{ "WELCOME" | translate }}</a>
            </div>
            <div class="card-block overflow">
              <div class="row p-1 pl-3">
                <div class="col text-justify">
                  <p>{{ "WELCOME_MSG" | translate }}</p>
                  <p>{{ "WELCOME_MSG_2" | translate }}</p>
                </div>
              </div>

              <div class="row p-1 pl-3">
                <div class="col" align="center">
                  <a class="btn btn-primary align-middle"
                     href="https://florida1.sharepoint.com/:v:/s/IntranetFlorida/talento/EYp1yBaOIJtKg8gN1dg-YAUBr_cuH8KcqyBnlZlks79J4w?e=FOpiMK" target="_blank">{{ "INFO_VIDEO_1" | translate }}
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="col" align="center">
                  <a class="btn btn-primary align-middle"
                     href="https://florida1.sharepoint.com/:v:/s/IntranetFlorida/talento/EbD68uCysCNJqHnnCMpvBH0BIliXR8O7VsIHvF0GOV2vWg?e=l6SGaf" target="_blank">{{ "INFO_VIDEO_2" | translate }}
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header text-center">
              <a class="card-title">{{ "PENDING_EVS" | translate }}<br/><small>{{ "PENDING_EVS_EXPLANATION" | translate }}</small></a>
            </div>
            <div class="card-block overflow">
              <div class="row py-2 pl-2 my-1 mx-1 evaluation" ng-repeat="evaluation in vm.participatingEvaluations" ng-if="!vm.evaluatorCompletedEvaluation(evaluation)">
                <div class="col-8">{{evaluation.user.name}}</div>
                <div class="col-4 float-right text-center"><button class="btn btn-link" ng-click="vm.getFormLink(evaluation)" target="_blank">{{ "EVALUATION_BUTTON" | translate }}</button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header text-center">
              <a class="card-title">{{ "USER_EVALUATIONS" | translate }}<br/><small>{{ "USER_EVS_EXPLANATION" | translate }}</small></a>
            </div>
            <div class="card-block overflow">
              <div class="row py-2 pl-2 my-1 mx-1 evaluation pointer" ng-repeat="evaluation in vm.userEvaluations" ng-click="vm.detailEvaluation(evaluation)">
                <div class="col-4" ng-if="vm.currentLanguage('es')">{{evaluation.stage.nameEs}}</div>
                <div class="col-4" ng-if="vm.currentLanguage('en')">{{evaluation.stage.nameEn}}</div>
                <div class="col-4 float-right text-center" ng-class="vm.completedEvaluation(evaluation)">{{ evaluation.status | translate }}</div>
                <div class="col-4 float-right text-center link">{{ "VIEW_EV_DETAILS" | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
