@blue: #428bca; 
@loginComponentsWidth: 20em;
@full: 100%;
@brand-primary: #428bca;

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: @brand-primary;
  text-align: center;
  color: #fff;
  padding: 3em;
  h1 {
    font-weight: 300;
    small {
      color: rgba(255,255,255,0.7);
    }
  }

  .form-group {
    padding: 8px 0;
    width: 20em;
    margin-right: auto;
    margin-left: auto;
  }

  .form-content {
    padding: 40px 0;
  }

  .logo-login {
    padding-top: 3em;
    height: 10em;
    width: auto;
  }

  .btn-primary {
    background-color: darken(@brand-primary, 5%) !important;
    border: 2px solid white !important;
    color: white !important;
    
    &:hover, &:active {
      background-color: darken(@brand-primary, 15%) !important;
    }
  }

  .btn-lang {
    &:hover, &:active {
      background-color: darken(@brand-primary, 15%) !important;
    }
  }

  .btn-padding {
    padding: 1em 8em;
    border-radius: 15px;
  }

  .padding-5 {
    padding: 5em 0;
  }
}

.input-underline {
  /* !important to override bootstrap styles */
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4) !important;
  color: #FFF !important;
  border-radius: 0 !important;

  &::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  &::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  &:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 1) !important;
    box-shadow: none !important;
  }

}
