<div class="login-page">
  <div class="row justify-content-center">
    <div class="col">
      <img src="app/images/fifco3.png"/>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col align-self-cent">
      <form name="form" ng-submit="vm.authenticateUser()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
          <label for="username">{{ "USERNAME" | translate }}</label>
          <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
          <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">{{ "USERNAME_ERROR" | translate }}</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
          <label for="password">{{ "PASSWORD" | translate }}</label>
          <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
          <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">{{ "PASSWORD_ERROR" | translate }}</span>
        </div>
        <div class="cursor: pointer">
          <span ng-click="vm.forgotPassword()">{{ 'FORGET_PASSWORD' | translate }} ?</span>
        </div>
        <div class="form-actions padding-5">
          <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary btn-padding">{{ "LOGIN_BUTTON" | translate }}</button>
        </div>
      </form>
      <div>
          <a class="btn btn-primary btn-padding" ng-hide="true" ng-click="vm.office365login()">{{"LOGIN_OFFICE365" | translate}}</a>
      </div>
    </div>  
  </div>
  <div class="row justify-content-center">
    <div class="col-1 btn-lang"><a ng-click="vm.setLanguage('es')" class="btn" ng-class="{active: vm.isLanguage('es')}">ES</a></div>
    <div class="col-1 btn-lang"><a ng-click="vm.setLanguage('en')" class="btn" ng-class="{active: vm.isLanguage('en')}">EN</a></div>
  </div>
</div>
