<ul class="nav nav-pills pull-right" ng-show="{{vm.visible}}">
  <li role="presentation" ng-class="{ active: vm.isActive('home.survey') }"><a ng-class="{ 'btn-blue btn-outline': vm.isActive('home.survey') }" class="btn btn-rounded" ui-sref="home.survey">{{ "NAV_SURVEY" | translate }}</a></li>
  <li role="presentation" ng-class="{ active: vm.isActive('home.adminEvaluation') }"><a ng-class="{ 'btn-blue btn-outline': vm.isActive('home.adminEvaluation') }" class="btn btn-rounded" ui-sref="home.adminEvaluation">{{ "NAV_EVALUATION" | translate }}</a></li>
</ul>
