<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <nav-bar class="col-2"></nav-bar>
      <div class="col gray-background" ui-view=""></div>
    </div>
  </div>
</div>
