<div>
  <admin-menu></admin-menu>
  <h2>Subtopics <small>Administration</small></h2>
  <button class="btn btn-blue btn-outline btn-rounded" ng-click="vm.createSubtopic()">Create subtopic</button>
  <div class="jumbotron">
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="subtopic in vm.subtopics">
            <td>{{subtopic.name}} {{subtopic.lastname}}</td>
            <td>{{subtopic.company.name}}</td>
            <td>{{subtopic.email}}</td>
            <td>{{subtopic.active}}</td>
            <td>
              <a ng-click="vm.updateSubtopic(subtopic)"><span class='glyphicon glyphicon-pencil'></span> Edit</a>
              -
              <a ng-show="subtopic.active" ng-click="vm.deleteSubtopic(subtopic)"><span class='glyphicon glyphicon-remove'></span> Deactivate</a>
              <a ng-hide="subtopic.active" ng-click="vm.deleteSubtopic(subtopic)"><span class='glyphicon glyphicon-ok'></span> Activate</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
