<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">{{ "EDIT_TOPIC" | translate }}</h4>
  </div>
  <div class="modal-body">
    <form name="form">
      <div class="modal-body form-horizontal">
        <div class="row">  
          <div class="col form-group">
            <label class="control-label col">{{ "TOPIC_NAME" | translate }}: (EN)</label>
            <div class="col">
              <input type="text" class="form-control" ng-model="vm.topic.nameEN" placeholder="Name" name="name" required>
            </div>
          </div>
          <div class="col form-group">
            <label class="control-label col">{{ "TOPIC_NAME" | translate }}: (ES)</label>
            <div class="col">
              <input type="text" class="form-control" ng-model="vm.topic.nameES" placeholder="Name" name="name" required>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-disabled="form.$error.required" ng-click="vm.updateTopic()">{{ "EDIT_TOPIC" | translate }}</button>
        <button type="button" class="btn btn-default" ng-click="vm.close()">{{ "CLOSE_BUTTON" | translate }}</button>
      </div>
    </form>
  </div>  
</div>
