<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ "DELETE_SURVEY" | translate }}</h4>
        <button type="button" class="close" ng-click="vm.close()">&times;</button>
    </div>
    <div class="modal-body">
        <form name="form">
            <div class="modal-body form-horizontal">
                <button type="button" class="btn btn-primary" ng-disabled="form.$error.required" ng-click="vm.deleteSurvey()">{{
                    "DELETE_SURVEY" | translate }}</button>
                <button type="button" class="btn btn-default" ng-click="vm.close()">{{ "CLOSE_BUTTON" | translate }}</button>
            </div>
        </form>
    </div>
</div>