<div id="modal-password-reset">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="vm.closeModal()">&times;</button>
      <h4 class="modal-title">{{ "CHANGE_PASSWORD" | translate }}</h4>
    </div>
    <form name="form" ng-submit="vm.resetPassword()" role="form">
      <div class="modal-body">
        <div class="modal-body form-horizontal">
          <label class="control-label col">{{ "CURRENT_PASSWORD" | translate }}</label>
          <input type="password" name="password" id="password" class="form-control" ng-model="vm.formNewPassword.oldPassword" required>
          <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block text-danger">{{ "PASSWORD_ERROR" | translate }}</span>
          <label class="control-label col">{{ "NEW_PASSWORD" | translate }}</label>
          <input type="password" name="newPassword" class="form-control" ng-model="vm.formNewPassword.newPassword" ng-minlength="6" required>
          <span ng-show="form.newPassword.$dirty && !form.newPassword.$valid" class="help-block text-danger">{{ "ERROR_NEW_PASSWORD" | translate }}</span>
          <label class="control-label col ">{{ "CONFIRM_PASSWORD" | translate }}</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.confirmNewPassword" ng-minlength="6" required>
          <span ng-show="form.confirmPassword.$dirty && !form.confirmPassword.$valid" class="help-block text-danger">{{ "ERROR_NEW_PASSWORD" | translate }}</span>
        </div>
      </div>
        <div class="modal-footer">
          <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">{{ "CHANGE_PASSWORD" | translate }}</button>
          <button type="button" class="btn btn-default" ng-click="vm.closeModal()">{{ "CLOSE_BUTTON" | translate }}</button>
        </div>
      </form>
    </div>  
  </div>
</div>
