@brand-primary: #428bca;

.report {
  float: none !important;
  color: black;

  .image-report {
    width: 100%;
  }

  .fill-box {
    width: 90% !important;
    height: 150px !important;
    border: 1px solid #000 !important;
    background-color: #E9ECEF !important;
  }

  .motivation {
    border-top: thick double @brand-primary !important;
    border-right-style: none !important;
    border-bottom: thick double @brand-primary !important;
    border-left-style: none !important;
  }

  .unordered-list {
    list-style-type: none;
  }

  table {
    width: 100%;
  }

  .fixed-table {
    table-layout: fixed;
  }

  th {
    text-align: center;
    background-color: #938953;
  }

  td {
    text-align: center;
    font-size: 12px;
  }

  td:first-child {
    text-align: left;
  }

  td, th {
    font-size: 12px;
    border: 1px solid black;
    padding: 4px;
  }

  .inside-table-header {
    font-weight: 500;
    background-color: #DDD9C4;
  }

  .page {
    padding: 10mm 15mm 10mm 15mm;
    margin: 10mm 15mm 10mm 15mm !important;
    width: 210mm;
    min-height: 297mm;
    break-after: page;
    page-break-after: always !important;
    border: 1px solid #000 !important;
  }

  // query used for the browser's print API, styles inside are REQUIRED
  @media print {
    .page {
      padding: 10mm 15mm 10mm 15mm !important;
      margin: 10mm 15mm 10mm 15mm !important;
      width: initial;
      min-height: initial;
      break-after: page;
      page-break-after: always !important;
      page-break-inside: avoid;
      float: none !important;
      border: none !important;
    }

    table {
      width: 100%;
    }

    .fixed-table {
      table-layout: fixed !important;
    }

    th {
      text-align: center;
      background-color: #938953 !important;
    }

    td {
      text-align: center;
      font-size: 12px;
    }

    td:first-child {
      text-align: left;
    }

    td, th {
      border: 1px solid black;
      padding: 4px;
    }

    .inside-table-header {
      font-weight: 500 !important;
      background-color: #DDD9C4 !important;
    }
  }
}

@page {
  size: A4;
  margin: 0;
}
