<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.closeModal()">&times;</button>
    <h4 class="modal-title">{{ 'RECOVER_PASSWORD' | translate }}</h4>
  </div>
  <div class="modal-body">
    <div class="modal-body form-horizontal">
      {{ 'RECOVER_CONFIRMATION' | translate }}
    </div>
    <div class="col padding-5 ">
      <input type="text" class="form-control mb-5 mt-4" ng-model="vm.email" placeholder="{{ 'USERNAME' | translate }}" name="name" required>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="vm.recoverPassword()">{{ 'RECOVER_PASSWORD' | translate }}</button>
      <button type="button" class="btn btn-default" ng-click="vm.closeModal()">{{ 'CLOSE_BUTTON' | translate }}</button>
    </div>
  </div>
</div>
